<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Blog Cura Vício</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../js/menu.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMktblog">
      <p>
        <marquee scrollamount="7" class="txtMain">
          Blog Cura Vício - O seu tratamento começa com uma boa dose de informação! - Reconhecida como uma doença pela
          Organização Mundial da Saúde (OMS), a dependência química consiste nas consequências físicas e mentais
          trazidas pelo abuso de substâncias nocivas ao organismo.
        </marquee>
      </p>
    </article>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <div class="boxTextP">
        O que faz com que algumas pessoas sejam vulneráveis à dependência do álcool e outras não? Neste Ciência USP
        Responde, o psiquiatra Arthur Guerra de Andrade, professor da Faculdade de Medicina da USP, discute essas e
        outras questões sobre o tema “alcoolismo”.
        Reportagem: Bruna Larotonda, Pedro Maia e Joyce Rossi. Edição: Alan Petrillo e Bruna Larotonda.
        Fonte: USP
      </div>
      </p>
      <br>
      <p>
      <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/4jLSbk3mYVM" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      </p>
    </article>
    <article class="flexBannerMktblog2">
      <div class="boxTextP">
        <p class="boxTextP">
          O que é considerado um alcoólatra?
          O ALCOOLISMO é caracterizado pela vontade incontrolável de beber, falta de controle ao tentar parar a
          ingestão,
          tolerância ao álcool (doses cada vez maiores para sentir os efeitos da bebida) e dependência física, que se
          manifesta com sintomas físicos e psíquicos nas situações de abstinência alcoólica.
          Fonte: Hospital Israelita Albert Einstein
        </p>
      </div>
      <div class="configImgBanner"><img src='../img/post-alcoolismo.jpeg' class="imgbanner"></div>
    </article>
    <article>
      <article class="flexBannerMktblog3">
        <div class="boxTextP">
          <p class="boxTextP">>> O que acontece no seu corpo quando você ingere bebida alcoólica?.
            Beber com os amigos para comemorar uma conquista, uma vitória ou apenas mais um dia de missão cumprida, pode
            parecer um hábito saudável, mas não é.</p>
        </div>
        <div class="configImgBanner"><img src='../img/alcoolismo.jpg' class='imgbanner'></div>
      </article>
      <article class="flexBannerMktblog2">
        <div class="boxTextP">
          <p>
          <div class="boxTextP">
            O assunto é sério. Mais de dois bilhões de pessoas no mundo consomem bebida alcoólica e o fato
            de ser uma droga lícita na maioria dos países influencia muito no seu impacto: cerca de 4% de todas as
            mortes no planeta envolvem o uso de álcool, segundo a Organização Mundial de Saúde (OMS), o que representa
            algo entre 2,3 milhões de mortes ao ano diretamente ocasionadas pelo uso, ou abuso, de bebida alcoólica.
            “Não existe uma fórmula para consumo seguro, já que são vários os fatores que
          </div>
        </div>
        <div class="boxTextP">
          <div class="boxTextP">
            influenciam em uma experiência
            etílica, como idade, peso corporal, quantidade de gordura no organismo, ritmo do metabolismo do fígado.
            Porém, estudos indicam que para um homem adulto há baixo risco de desenvolver dependência quando ele consome
            duas doses de álcool em um dia, seguidas de dois dias de abstinência. No caso da mulher, falamos de uma dose
            por dia, seguida pelo mesmo período sem consumo”, explica Claudio
            Jerônimo, psiquiatra e diretor da Unidade
            Recomeço Helvetia.
          </div>
        </div>
        <div class="boxTextP">
          <div class="boxTextP">
            Vamos partir do princípio de que, genericamente, uma dose tem em média de 10 ml de etanol
            puro, que demoram cerca de uma hora para metabolizar, quer dizer, sair do organismo. Devemos ainda
            considerar a variação da
            concentração de álcool das bebidas, que pode chegar até a 40%. Com isso em mente, te convidamos a uma
            pequena viagem para conhecermos o que acontece no seu corpo quando você ingere álcool. Preparado?
          </div>
        </div>
      </article>
      <div class="separador2">
      </article>
      <article class="flexBannerMktblog3">
        <div class="boxTextP">
          <p class="boxTextP">Danos internos   
          O uso frequente de bebida alcoólica pode levar a situações de abuso e dependência química. Quando os sintomas do uso do álcool começam a demorar em aparecer, ou ficam amenizados, isso significa que o organismo está se acostumando à substância, ou seja, quando achamos que estamos ficando mais fortes para a bebida, ou seja, mais tolerantes, isso quer dizer que já nos adaptamos a ela.</p>
        </div>
      <div class="configImgBanner"><img src='../img/mapa-consumo-alcool.jpg' class='imgbanner'></div>
      </article>
      <article class="flextxt">
        <div class="txt1">>> Diga-nos sobre qual tipo de dependência química você deseja se informar.
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>
            <div class="txt4" title="Clique para expandir os tipos de Dependência Química">>> Tipos de Dependência
              Química</div><br>
            <input type="checkbox" />
            <div id="col3Content" class="collapse">
              <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;A Organização Mundial da Saúde (OMS) considera que a
                dependência em drogas lícitas ou
                ilícitas é
                uma doença. O uso indevido de substâncias como álcool, cigarro, crack e cocaína é um problema de saúde
                pública
                de ordem internacional que preocupa nações do mundo inteiro, pois afeta valores culturais, sociais,
                econômicos e
                políticos.</div><br>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>
                  <div class="txt4" title="Clique para expandir sobre Alcoolismo">>> Álcool</div><br>
                  <input type="checkbox" />
                  <div id="col3Content" class="collapse">
                    <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;O alcoolismo é uma doença crônica, com aspectos
                      comportamentais e
                      socioeconômicos, caracterizada pelo consumo compulsivo de álcool, na qual o usuário se torna
                      progressivamente tolerante à intoxicação produzida pela droga e desenvolve sinais e sintomas de
                      abstinência, quando a mesma é retirada. Além da já reconhecida predisposição genética para a
                      dependência,
                      outros fatores podem estar associados: ansiedade, angústia, insegurança, fácil acesso ao álcool e
                      condições culturais.</div>
                  </div>
                  <br>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label>
                      <div class="txt4" title="Clique para expandir sobre a Maconha">>> Maconha</div><br>
                      <input type="checkbox" />
                      <div id="col3Content" class="collapse">
                        <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;O uso crônico de maconha está associado a
                          problemas respiratórios, já que a
                          fumaça é muito irritante e
                          seu
                          teor de alcatrão é muito alto, além de conter benzopireno, substância cancerígena. As
                          conseqüências do
                          uso
                          da maconha são semelhantes aos do tabaco: hipertensão, asma, bronquite, cânceres, doenças
                          cardíacas e
                          doenças crônicas obstrutivas aéreas. No caso de pessoas com transtornos psicóticos
                          (pré-existentes) pode
                          ocorrer um agravamento do quadro, como a esquizofrenia, exigindo assim mudanças no tratamento
                          da
                          doença
                          psiquiátrica. O uso regular acarreta problemas cognitivos como: comprometimento do rendimento
                          intelectual,
                          perda de memória e na habilidade de resolver problemas. A abstinência é caracterizada por:
                          ansiedade,
                          insônia, perda de apetite, tremor das mãos, sudorese, reflexos aumentados, bocejos e humor
                          deprimido.
                        </div>
                      </div>
                  </div>
                </label>
                <br>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>
                    <div class="txt4" title="Clique para expandir sobre a Cocaína">>> Cocaína</div><br>
                    <input type="checkbox" />
                    <div id="col3Content" class="collapse">
                      <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;A cocaína é uma substância psico-estimulante
                        que é consumida de diferentes formas: aspirada, via
                        intravenosa ou fumada (crack). O consumo da cocaína em grande parte dos usuários aumenta
                        progressivamente,
                        sendo necessário consumir maiores quantidades da substância para atingir o efeito desejado. No
                        Brasil, a
                        cocaína é a substância mais utilizada pelos usuários de drogas injetáveis. Muitas dessas pessoas
                        compartilham agulhas e seringas e expõem-se ao contágio de várias doenças como hepatite e Aids.
                      </div>
                    </div>
                </div>
          </label>
          <br>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label>
              <div class="txt4" title="Clique para expandir sobre a Crack">>> Crack</div><br>
              <input type="checkbox" />
              <div id="col3Content" class="collapse">
                <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;O crack é resultante da mistura de cocaína,
                  bicarbonato de sódio ou amônia e água destilada, resultando
                  em grãos que são fumados em cachimbos. O consumo do crack é maior que o da cocaína, pois é mais barato
                  e
                  seus efeitos duram menos. Além disso, tem terrível ação sobre o sistema nervoso central e cardíaco.
                </div>
              </div>
          </div>
          </label>
          <br>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label>
              <div class="txt4" title="Clique para expandir sobre a Anfetaminas">>> Anfetaminas</div><br>
              <input type="checkbox" />
              <div id="col3Content" class="collapse">
                <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;São drogas sintéticas de efeito estimulante do
                  sistema nervoso central e só podem ser comercializadas
                  sob prescrição médica. Um tipo de anfetamina ilícita não encontrada em farmácias é a droga conhecida
                  por
                  êxtase, que provoca dependência fazendo com que o usuário tenha de consumir maiores quantidades de
                  comprimidos para obter os mesmos efeitos. O uso indevido e prolongado pode provocar alterações
                  psíquicas, lesões cerebrais e aumento do risco de convulsões e overdose.
                </div>
              </div>
          </div>
          </label>
          <br>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label>
              <div class="txt4" title="Clique para expandir sobre a Calmantes e Sedativos">>> Calmantes e Sedativos
              </div><br>
              <input type="checkbox" />
              <div id="col3Content" class="collapse">
                <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;Os medicamentos capazes de diminuir a atividade do
                  cérebro são chamados de sedativos, já os que são
                  capazes de diminuir a dor são conhecidos como analgésicos. Os hipnóticos ou soníferos são os sedativos
                  capazes de afastar a insônia, já os ansiolíticos têm o poder de atuar sobre estados exagerados de
                  ansiedade.
                </div>
              </div>
          </div>
          </label>
        </div>
        </div>
      </article>
      <div class="separador"></div>
  </main>

  <div id="footer"></div>
</body>

</html>