<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Blog Cura Vício</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../js/menu"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMktblog">
      <p>
      <p class="txtMain">
        Blog Cura Vício - O seu tratamento começa<br> com uma boa dose de informação!
      </p>
      </p>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txt4">• Tipos Dependência Química
      </div>
      <div class="txtBlocoJustify">A Organização Mundial da Saúde (OMS) considera que a dependência em drogas lícitas ou ilícitas é
        uma doença. O uso indevido de substâncias como álcool, cigarro, crack e cocaína é um problema de saúde pública
        de ordem internacional que preocupa nações do mundo inteiro, pois afeta valores culturais, sociais, econômicos e
        políticos.
      </div>


    </article>
    <div class="separador"></div>
  </main>

  <div id="footer"></div>
</body>

</html>