<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Contate a gente</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../js/menu"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Caso deseje tirar dúvidas<br> ou saber como ajudar a esta <br>iniciativa, <strong>contate-nos</strong>
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='../img/contato.jpg' class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <div class="flextxt">
      <div class="txt1">>> Contate-nos, através dos nossos canais de atendimento:
      </div>
    </div>
    <article class="flextxt">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt4" title="Clique para expandir os contatos via e-mail">>> E-mails:</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txt2"><strong>> Dúvidas ou sugestões:</strong><br>
              atendimento@curavicio.com.br<br><br><strong>> Parcerias:</strong><br>
              curavicio@curavicio.com.br<br><br><strong>> Doações:</strong><br> doacoes@curavicio.com.br
            </div><br>
            <div>
              <textarea class="editText" id="myText">
          </textarea>
            </div><br>
            <div>
              <button class="button" onclick="sendMail(); return false">Enviar e-mail</button>
            </div>
        </label>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt4" title="Clique para expandir os contatos via telefone">>> Telefones útéis</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txt2"><strong>> Dúvidas ou sugestões:</strong><br>
              0800-001-1264<br><br><strong>> Ministério da Cidadania:</strong><br>
              121<br><br><strong>> O CVV — Centro de Valorização da Vida:</strong><br> 188
            </div>
          </div>
        </label>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txt1">• Para conhecer mais sobre voluntariado, apoio emocional, prevenção do suicídio, saúde mental e
        outros temas afins, acesse também:
      </div>
    </article>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <article>
        <label class="flextxtLinks">
          <div class="txt4" title="Clique para expandir os links utéis">>> Links útéis</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txt2">
              <strong>O CVV – Centro de Valorização da Vida</strong><br>
              <a href="https://www.cvv.org.br/" target="_blank">>> www.cvv.org.br</a><br><br><strong>Movimento Saber
                lidar</strong><br>
              <a href="https://movimentosaberlidar.org.br" target="_blank">>>
                movimentosaberlidar.org.br</a><br><br><strong>Ajuda em saúde mental para quem tem de 13 a 24
                anos</strong><br>
              <a href="https://podefalar.org.br" target="_blank">>> podefalar.org.br</a><br><br><strong>Mapa da Saúde
                Mental</strong><br><a href="https://mapasaudemental.com.br" target="_blank">>>
                www.mapasaudemental.com.br</a>
              <br><br><strong>Portal Ministério da Saude
                (MS)</strong><br><a
                href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/s/prevencao-do-suicidio" target="_blank">>>
                www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/s/prevencao-do-suicidio</a>
              <br><br><strong>Centro de Atenção Psicosocial
                (CAPS)</strong><br><a href="https://sage.saude.gov.br/paineis/planoCrack/lista_caps.php?output=html&"
                target="_blank">>> sage.saude.gov.br/paineis/planoCrack/lista_caps.php?output=html&</a>
              <br><br><strong>Ministério da Cidadania - Assistência Social
                (CRAS)</strong><br><a
                href="https://www.gov.br/cidadania/pt-br/acoes-e-programas/assistencia-social/servicos-e-programas-1"
                target="_blank">>>
                https://www.gov.br/cidadania/pt-br/acoes-e-programas/assistencia-social/servicos-e-programas-1</a>
              <br><br><strong>Movimento Setembro Amarelo, Dia mundial de Prevenção ao
                Suicídio</strong><br><a href="http://www.setembroamarelo.org.br/" target="_blank">>>
                www.setembroamarelo.org.br</a>
              <br><br><strong>Associação Brasileira de Psiquiatria</strong><br><a href="http://www.abp.org.br/"
                target="_blank">>> www.abp.org.br</a>
              <br><br><strong>Informações sobre prevenção do suicídio</strong><br><a
                href="http://www.prevencaosuicidio.blog.br" target="_blank">>> prevencaosuicidio.blog.br</a>
              <br><br><strong>Transtornos mentais e dependência química</strong><br><a
                href="http://www.franciscajulia.org.br" target="_blank">>> www.franciscajulia.org.br</a>
              <br><br><strong>Associação Brasileira de Estudos e Prevenção de
                Suicídios</strong><br><a href="http://www.abeps.org.br/" target="_blank">>> www.abeps.org.br</a>
              <br><br><strong>Samaritanos de Londres</strong><br><a href="http://www.samaritans.org" target="_blank">>>
                www.samaritans.org</a>
              <br><br><strong>Befrienders Worldwide</strong><br><a href="http://www.befrienders.org" target="_blank">>>
                www.befrienders.org</a>
              <br><br><strong>Associação Internacional para a Prevenção do Suicídio</strong><br><a
                href="http://www.iasp.info" target="_blank">>>www.iasp.info</a>
              <br><br><strong>Associação Americana de Suicidologia</strong><br><a href="http://www.suicidology.org/"
                target="_blank">>> www.suicidology.org</a>"
              <br><br><strong>Associação Canadense para a Prevenção do Suicídio</strong><br><a
                href="http://www.casp-acps.ca" target="_blank">>> www.casp-acps.ca</a>
              <br><br><strong>Voz de apoio – Portugal</strong><br><a href="http://www.vozdeapoio.pt" target="_blank">>>
                www.vozdeapoio.pt</a>
              <br><br><strong>Fundação Americana de Prevenção de Suicídio</strong><br><a href="https://afsp.org/"
                target="_blank">>> afsp.org </a>
              <br><br><strong>Segurança Mulheres</strong><br><a href="https://www.mulhersegura.org/" target="_blank">>>
                www.mulhersegura.org </a>
            </div>
          </div>
        </label>
      </article>
  </main>
  <div class="separador"></div>
  <div id="footer"></div>
</body>

</html>