<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Grupos de Apoio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../js/menu"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Aqui você terá informações sobre<br> os <strong>Grupos de Apoio</strong><br>mais próximos de você
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='../img/grupos-de-apoio.jpg' class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class=txt1> >> Escolha a sua cidade:</div>
    </article>
    <article class="flextxt">
      <div class="listasgrupos">
        <select id="lista-grupos">
          <option value="Belo Horizonte">Belo Horizonte</option>
          <option value="Uberlândia">Uberlândia</option>
          <option value="Contagem">Contagem</option>
          <option value="Juiz de Fora">Juiz de Fora</option>
          <option value="Betim">Betim</option>
          <option value="Montes Claros">Montes Claros</option>
        </select>
      </div>
    </article>
    <article class="flextxt">
    <div id="grupo"></div>
    </article>

  </main>
  <div class="separador"></div>
  <div id="footer"></div>
</body>

</html>