<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - História</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/js/menu"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Nossa <strong>História</strong>,<br>conheça como nasceu <br>o Cura Vício
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='/img/historia.jpg' class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txtBlocoJustify">• Toda conquista começa com a simples ideia de tentar, sendo assim essa foi a base
        para criarmos
        este espaço pra você!
        Aqui conseguiremos otimizar a entrega de informações de modo a facilitar e possibilitar o alcance de
        seu objetivo que é se livrar de seu vício. É foi assim começamos essa idéia, o conteúdo é gratuito e foi
        elaborado para te ajudar, vem conosco?
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt4" title="Clique para expandir quem somos">>> Quem somos:</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;Esta história começa com a união de um grupo de
              desenvolvedores eles estudantes de Análise e Desenvolvimento de Sistemas pela PUC MINAS
              como objetivo inicial foi adquirir mais conhecimentos em programação através de um projeto aplicado do curso veio
              a idéia para projetar uma plataforma web capaz de atender ao problema levantado. Dependentes químicos e codependentes
              sofrem com a carência de informações referentes aos vícios, e a indisponibilidade de profissionais de
              saúde e a falta de acesso a grupos de apoio. Em plena era da informação, o país carece de uma plataforma
              web gratuita que integre informações e facilite o acesso dos dependentes a formas mais efetivas para o seu
              tratamento. Os dependentes químicos ou codependentes que queiram se informar sobre as maneiras de como
              tratar as dependências químicas, encontram na internet informações difusas e muitas das vezes incertas ou
              desorganizadas, além do acesso ser dificultado ao encontrar informações referentes a clínicas, grupos de
              apoio e profissionais de saúde. Um sistema web focado nestes usuários possibilitaria a oportunidade de
              encontrar com mais facilidade informações relevantes para cada contexto de dependência química,
              encontrando o um apoio profissional, inclusive com a possibilidade de agendar com grupos de apoio e
              consultas com profissionais de saúde, podendo existir estes apoios de forma remota, desse modo poderia ser
              de grande ajuda para os dependentes químicos do país.


            </div><br>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>
                <div class="txt4" title="Clique para expandir nosso objetivo">>> Nosso objetivo:</div><br>
                <input type="checkbox" />
                <div id="col3Content" class="collapse">
                  <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;O objetivo geral foi criar uma plataforma web
                    gratuita
                    capaz auxiliar vocês usuários: dependentes químicos, codependentes, padrinhos e madrinhas, de forma
                    educativa facilitando o acesso a informações referentes aos vícios e otimizando a organização de
                    grupos de apoio possibilitando a indicação de membros interdisplinares para um tipo de ajuda
                    específica inclusive a indicação de profissionais de saúde e clínicas mais
                    próximas.<br>&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <i>Nosso objetivo é simples: alcance! E isso quer dizer que queremos alcançar principalmente você,
                      que precisa de ajuda e não tem acesso ao mínimo de informação a respeito, que precisa e quer ter
                      acesso á
                      tratamento gratuito, ou até mesmo, iniciar uma conversa com quem pode te ouvir; queremos alcançar
                      você que é coodependente
                      e precisa de apoio psicolóco e de assistência social; a você que tem algum parente, amigo ou
                      alguém
                      que vc queira ajudar.</i>
                  </div><br>
                </div>
            </div>
          </div>
      </div>

    </article>
  </main>
  <div class="separador"></div>
  <div id="footer"></div>
</body>

</html>