<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Cura Vício - Para te ajudar!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <script type="text/javascript" src="/js/menu"></script>
</head>

<body onload="render()">

    <div id="header"></div>

    <main>
        <div class="separador"></div>
        <article class="flexBannerMkt">
            <p>
            <p class="txtMain">
                O <strong>Cura Vício</strong> é gratuito<br>
                e foi feito para te ajudar,<br>
                fique a vontade<br>
                para ir e vir!
            </p>
            </p>
            <br>
            <p>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/rYAEe3On-7E" title="YouTube video player" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            </p>
        </article>
        <div class="separador"></div>
        <article class="flextxt">
            <div class="txt1">>> Em plena era da informação, o país carece de uma plataforma web gratuita que integre
                informações e facilite o acesso dos dependentes a formas mais efetivas para o seu tratamento.
            </div>
            <div class="txtBlocoJustify"> De acordo com os dados da pesquisa da OMS do censo de 2021, cerca de 6% da população
                brasileira atual
                tem alguma dependência química. Isso totaliza um contingente de 12,4 milhões de pessoas. O Relatório
                Mundial sobre Drogas de 2021 avalia que a pandemia potencializou os riscos à dependência. De acordo
                com
                os estudos organizados pela Lenad Família, a instituição que faz levantamentos a respeito do uso de
                drogas no Brasil, revela que quase 30 milhões de cidadãos brasileiros conhecem um familiar que
                possui
                uma dependência química. (TERRA BR, 2021)
            </div>
            <div class="txt4">>> 20/02 – Dia Nacional de Combate às Drogas e ao Alcoolismo</div>
            <div class="txtBlocoJustify"> No dia 20 de fevereiro, é celebrado o Dia Nacional de Combate às Drogas e Alcoolismo. A
                data tem o objetivo de alertar e conscientizar a população sobre o mal que as drogas
                e o álcool trazem, não só
                ao
                organismo como também a sociedade.</div>
            <div>
                <label>
                    <div class="txt4" title="Clique para expandir">>> O que é dependência
                        química?</div><br>
                    <input type="checkbox" />
                    <div id="col3Content" class="collapse">
                        <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;Dependência química é um problema crônico, que se
                            caracteriza pela mudança no comportamento do indivíduo ao administrar determinada
                            substância.
                            Como consequência, ele passa a se ver dominado por impulsos, cada
                            vez mais recorrentes, para voltar a fazer uso da droga. Adotando uma linguagem mais técnica,
                            o
                            quadro
                            nada mais é do que um padrão mal-adaptado do consumo de substâncias, gerando significativos
                            prejuízos
                            clínicos e de ordem emocional. Nesse caso, os entorpecentes passam a ser um refúgio do
                            adicto na
                            busca
                            por sensações de bem-estar e, consequentemente, alívio de sentimentos ruins, como ansiedade
                            e medo.
                        </div>
                    </div>
            </div>
            </label>
        </article>
        <div class="separador"></div>
        <article class="flextxt">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>
                    <div class="txt4" title="Clique para expandir...">>> Dependente químico
                        deve ser encaminhado para tratamento médico</div><br>
                    <input type="checkbox" />
                    <div id="col3Content" class="collapse">
                        <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;A dependência química é definida como doença pela OMS
                            - Organização Mundial de Saúde e
                            como tal deve ser tratada pelo empregador ao lidar com o empregado que apresente quadro de
                            embriaguez no
                            serviço. Com esse entendimento, a juíza substituta Daniela Torres Conceição, atuando na 5ª
                            Vara do
                            Trabalho de Belo Horizonte, declarou nula a dispensa por justa causa de um empregado da
                            Superintendência
                            de Limpeza Urbana de Belo Horizonte - SLU, dependente de álcool, determinando sua
                            reintegração imediata
                            ao trabalho. A empresa foi condenada a pagar os salários vencidos e vincendos até a efetiva
                            reintegração, garantidas todas as vantagens decorrentes de leis e instrumentos normativos.
                        </div><br>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <div class="txt4" title="Clique para expandir...">>> O
                                    sofrimento</div><br>
                                <input type="checkbox" />
                                <div id="col3Content" class="collapse">
                                    <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;Em sua defesa, a SLU sustentou que, desde
                                        1996, o trabalhador é acompanhado para
                                        tratamento de dependência química, tendo sido afastado pelo INSS por diversas
                                        vezes. Segundo relatou, a
                                        dispensa por justa causa veio após processo administrativo no qual foi dada ao
                                        reclamante a oportunidade
                                        do exercício da ampla defesa. Mas, na visão da magistrada, o trabalhador não
                                        poderia ser dispensado. De
                                        acordo com a linha de abordagem da psicanálise; entender a dependência química
                                        não é algo tão simples
                                        quanto parece, e que na verdade quando se fala que tal sujeito se encontra sob o
                                        domínio de substâncias
                                        tóxicas, esse sujeito em uma primeira visão é visto como um marginal, vagabundo,
                                        alguém que não quer
                                        nada com nada e etc. Essa é uma visão do senso comum que são céticos em relação
                                        a esse problema.
                                        Inicialmente quando se descobre que alguém de nossa família ou próximo a nós
                                        possui alguma dependência
                                        química essa relação passa a mudar de figura, sendo assim aí começam a se
                                        perguntar onde foi que
                                        erraram, porque esse sujeito foi por esse caminho, são tantas as perguntas e
                                        culpas que os familiares
                                        sentem que acabam se tornando codependente dessa doença, doença essa que é
                                        incurável, mas que pode ser
                                        controlada tanto inicialmente quanto em níveis mais avançados. (CLÍNICA JORGE
                                        JABER RJ, 2018)
                                    </div><br>
                                </div>
                        </div>
                </label>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label>
                        <div class="txt4" title="Clique para expandir...">>> O consumo de
                            Substâncias</div><br>
                        <input type="checkbox" />
                        <div id="col3Content" class="collapse">
                            <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;Dependência química é o termo utilizado para
                                designar a ingestão de drogas e o uso
                                excessivo de álcool. A ingestão continua mesmo após o aparecimento de problemas de saúde
                                e na vida
                                pessoal do indivíduo em decorrência do uso dessas substâncias.
                                A qualidade de vida do indivíduo dependente decaí consideravelmente já que grande parte
                                da sua vida
                                passa a girar entorno do vício. Ele procura consumir cada vez as substâncias das quais
                                depende, chegando
                                a ter dificuldades financeiras por manter a ingestão. Ele também deixa de cumprir
                                compromissos diários,
                                como o trabalho e o estudo.
                                O relacionamento com familiares e amigos sofre uma vez que o indivíduo dependente
                                manifesta sintomas da
                                abstinência e tem condutas inapropriadas. Infelizmente, é muito comum que ele não
                                enxergue ou não aceite
                                o vício. Dessa maneira, as pessoas próximas sofrem tentando ajudá-lo ou observando o seu
                                sofrimento.
                                Assim, a única forma de cessar o sofrimento emocional, psicológico e físico tanto para o
                                dependente
                                quanto para os entes queridos é buscando o tratamento para dependência química.
                            </div>
                        </div>
                </div>
                </label>
            </div>
        </article>
        <div class="separador"></div>
    </main>
    <div id="footer"></div>
</body>

</html>