<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Membros Interdiscplinares</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/js/menu"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Aqui você terá informações<br>sobre como contatar os<br><strong>Membros interdisciplinares</strong>
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='../img/membros-interdiscplinares.jpg' class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txt1" title="Membros interdiscplinares">>> Aqui você poderá escolher um tipo de profissional para lhe
        ajudar.
      </div>
    </article>
    <article class="flextxt">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt4" title="Clique para expandir os membros interdiscplinares">>> Selecione um membro
            Interdisciplinar que deseja o contato:</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="listamembros">
              <select id="lista-membros">
                <option>Selecione um Membro Interdisciplinar:</option>
                <option value="Belo Horizonte">Eliana Sanches - Pedagoga</option>
                <option value="Uberlândia">Marília Mendes - Psicóloga</option>
              </select>
            </div>
          </div>
        </label>
    </article>
    <article class="flextxt">
      <div id="membros"></div>
    </article>
  </main>
  <div class="separador"></div>
  <div id="footer"></div>
</body>
</html>