<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Cura Vício</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/src/css/style.css" media="screen">
</head>

<body>
    <header>

        <ul class="menu">
            <div class="flexmenu">
                <p>
                    <img src="\src\img\logo-cura-vicio.png">
                </p>
                <ul>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
                </ul>
                <ul>
                    <li>
                        <ul>Home</ul>
                    </li>
                    <br>
                    <li><a href="index.html">Blog Cura Vício</a></li>
                    <li><a href="#">Dependências Químicas</a></li>
                    <li><a href="#">Artigos Científicos</a></li>
                </ul>

                <ul>
                    <li>
                        <ul>Busque Ajuda</ul>
                    </li>
                    <br>
                    <li><a href="\src\view\ClinicasDeTratamento.html">Clínicas de Tratamento</a></li>
                    <li><a href="\src\view\GruposDeApoio.html">Grupos de Apoio</a></li>
                    <li><a href="\src\view\MembrosInterdisciplinares.html">Membros Interdisciplinares</a></li>
                </ul>

                <ul>
                    <li>
                        <ul>Sobre Nós</ul>
                    </li>
                    <br>
                    <li><a href="#">Contate a gente</a></li>
                    <li><a href="historia.html">História</a></li>
                </ul>
                <ul>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp;</p>
                </ul>
                <li>
                    <p>
                    <ul>
                        <li><button class="buttonCadastro" onclick="getData()">Cadastro</button></li><br>
                        <li><button class="buttonLogar" onclick="getData()">Logar</button></li>
                    </ul>
                    </p>
                </li>
            </div>
        </ul>

    </header>
    <main>
                    
        </article>
        <div class="separador"></div>
        <article class="flextxt">
            <div class="txt1">Em plena era da informação, o país carece de uma plataforma web gratuita que integre
                informações e facilite o acesso dos dependentes a formas mais efetivas para o seu tratamento.
            </div>
            <div class="txt2"> De acordo com os dados da pesquisa da OMS do censo de 2021, cerca de 6% da população
                brasileira atual
                tem alguma dependência química. Isso totaliza um contingente de 12,4 milhões de pessoas. O Relatório
                Mundial sobre Drogas de 2021 avalia que a pandemia potencializou os riscos à dependência. De acordo
                com
                os estudos organizados pela Lenad Família, a instituição que faz levantamentos a respeito do uso de
                drogas no Brasil, revela que quase 30 milhões de cidadãos brasileiros conhecem um familiar que
                possui
                uma dependência química. (TERRA BR, 2021)
            </div>
            <div class="txt1">20/02 – Dia Nacional de Combate às Drogas e ao Alcoolismo</div>
            <div class="txt2"> No dia 20 de fevereiro, é celebrado o Dia Nacional de Combate às Drogas e Alcoolismo. A
                data tem o
                objetivo de alertar e conscientizar a população sobre o mal que as drogas e o álcool trazem, não só
                ao
                organismo como também a sociedade.</div>
            <div class="txt1">O que é dependência química?</div>
            <div class="txt2"> Dependência química é um problema crônico, que se caracteriza pela mudança no
                comportamento do indivíduo
                ao administrar determinada substância. Como consequência, ele passa a se ver dominado por impulsos,
                cada
                vez mais recorrentes, para voltar a fazer uso da droga. Adotando uma linguagem mais técnica, o
                quadro
                nada mais é do que um padrão mal-adaptado do consumo de substâncias, gerando significativos
                prejuízos
                clínicos e de ordem emocional. Nesse caso, os entorpecentes passam a ser um refúgio do adicto na
                busca
                por sensações de bem-estar e, consequentemente, alívio de sentimentos ruins, como ansiedade e medo.
            </div>
        </article>
        
        <div class="separador"></div>
    </main>
    <footer class="footer">
        <div class="footerFlex">
            <p>
                <img src="\src\img\logo-cura-vicio-white.png">
            </p>
            <br>
            <p class="footerTxt">|&nbsp; &nbsp; © CuraVício, Inc. 2022.</p>
            <p class="footerTxt">
                &nbsp; &nbsp;| &nbsp; &nbsp;<a href="#">Click para voltar ao Topo :)</a>
            </p>
        </div>
    </footer>
</body>

</html>
