<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Membros Interdiscplinares</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/js/menu"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Aqui você terá informações<br>sobre como contatar os<br><strong>Membros interdisciplinares</strong>
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='/img/membros-interdiscplinares.jpg' border="0" class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txt1">Diga-nos qual o tipo de dependência química que te manteremos informados.
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt1" title="Clique para expandir os tipos de Dependência Química">• Tipos Dependência Química</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;A Organização Mundial da Saúde (OMS) considera que a dependência em drogas lícitas ou
              ilícitas é
              uma doença. O uso indevido de substâncias como álcool, cigarro, crack e cocaína é um problema de saúde
              pública
              de ordem internacional que preocupa nações do mundo inteiro, pois afeta valores culturais, sociais,
              econômicos e
              políticos.</div><br>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>
                <div class="txt1" title="Clique para expandir sobre Alcoolismo">- Álcool</div><br>
                <input type="checkbox" />
                <div id="col3Content" class="collapse">
                  <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;O alcoolismo é uma doença crônica, com aspectos comportamentais e
                    socioeconômicos, caracterizada pelo consumo compulsivo de álcool, na qual o usuário se torna
                    progressivamente tolerante à intoxicação produzida pela droga e desenvolve sinais e sintomas de
                    abstinência, quando a mesma é retirada. Além da já reconhecida predisposição genética para a
                    dependência,
                    outros fatores podem estar associados: ansiedade, angústia, insegurança, fácil acesso ao álcool e
                    condições culturais.</div>
                </div>
                <br>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>
                    <div class="txt1" title="Clique para expandir sobre a Maconha">- Maconha</div><br>
                    <input type="checkbox" />
                    <div id="col3Content" class="collapse">
                      <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;O uso crônico de maconha está associado a problemas respiratórios, já que a
                        fumaça é muito irritante e
                        seu
                        teor de alcatrão é muito alto, além de conter benzopireno, substância cancerígena. As
                        conseqüências do
                        uso
                        da maconha são semelhantes aos do tabaco: hipertensão, asma, bronquite, cânceres, doenças
                        cardíacas e
                        doenças crônicas obstrutivas aéreas. No caso de pessoas com transtornos psicóticos
                        (pré-existentes) pode
                        ocorrer um agravamento do quadro, como a esquizofrenia, exigindo assim mudanças no tratamento da
                        doença
                        psiquiátrica. O uso regular acarreta problemas cognitivos como: comprometimento do rendimento
                        intelectual,
                        perda de memória e na habilidade de resolver problemas. A abstinência é caracterizada por:
                        ansiedade,
                        insônia, perda de apetite, tremor das mãos, sudorese, reflexos aumentados, bocejos e humor
                        deprimido.
                      </div>
                    </div>
                </div>
              </label>
              <br>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>
                    <div class="txt1" title="Clique para expandir sobre a Cocaína">- Cocaína</div><br>
                    <input type="checkbox" />
                    <div id="col3Content" class="collapse">
                      <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;A cocaína é uma substância psico-estimulante que é consumida de diferentes formas: aspirada, via
                        intravenosa ou fumada (crack). O consumo da cocaína em grande parte dos usuários aumenta
                        progressivamente,
                        sendo necessário consumir maiores quantidades da substância para atingir o efeito desejado. No Brasil, a
                        cocaína é a substância mais utilizada pelos usuários de drogas injetáveis. Muitas dessas pessoas
                        compartilham agulhas e seringas e expõem-se ao contágio de várias doenças como hepatite e Aids.
                      </div>
                    </div>
                </div>
              </label>
              <br>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>
                  <div class="txt1" title="Clique para expandir sobre a Crack">- Crack</div><br>
                  <input type="checkbox" />
                  <div id="col3Content" class="collapse">
                    <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;O crack é resultante da mistura de cocaína, bicarbonato de sódio ou amônia e água destilada, resultando
                      em grãos que são fumados em cachimbos. O consumo do crack é maior que o da cocaína, pois é mais barato e
                      seus efeitos duram menos. Além disso, tem terrível ação sobre o sistema nervoso central e cardíaco.
                    </div>
                  </div>
              </div>
            </label>
            <br>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>
                <div class="txt1" title="Clique para expandir sobre a Anfetaminas">- Anfetaminas</div><br>
                <input type="checkbox" />
                <div id="col3Content" class="collapse">
                  <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;São drogas sintéticas de efeito estimulante do sistema nervoso central e só podem ser comercializadas
                    sob prescrição médica. Um tipo de anfetamina ilícita não encontrada em farmácias é a droga conhecida por
                    êxtase, que provoca dependência fazendo com que o usuário tenha de consumir maiores quantidades de
                    comprimidos para obter os mesmos efeitos. O uso indevido e prolongado pode provocar alterações
                    psíquicas, lesões cerebrais e aumento do risco de convulsões e overdose.
                  </div>
                </div>
            </div>
          </label>
          <br>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label>
              <div class="txt1" title="Clique para expandir sobre a Calmantes e Sedativos">- Calmantes e Sedativos</div><br>
              <input type="checkbox" />
              <div id="col3Content" class="collapse">
                <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;Os medicamentos capazes de diminuir a atividade do cérebro são chamados de sedativos, já os que são
                  capazes de diminuir a dor são conhecidos como analgésicos. Os hipnóticos ou soníferos são os sedativos
                  capazes de afastar a insônia, já os ansiolíticos têm o poder de atuar sobre estados exagerados de
                  ansiedade.
                </div>
              </div>
          </div>
        </label>
            </div>
          </div>
    </article>
  </main>
  <div class="separador"></div>
  <div id="footer"></div>
</body>

</html>