<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Contate a gente</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../js/menu.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">

  <div id="dv-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header" class="txtBlocoJustify">
        <p class="txtModal">&nbsp; &nbsp;>> E-mail enviado com sucesso!</p>
      </div>
      <div class="modal-body">
        <p class="txtBlocoModal">Em breve a equipe do Cura Vício<br> entrará em contato, obrigado!</p>
      </div>
      <div class="modal-footer">
        <button class="button" onClick="closeModal('dv-modal')">Fechar</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="separador"></div>
  <div id="footer"></div>
</body>

</html>