<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - Artigos Científicos</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../js/menu.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Leia os <strong>Artigos Científicos</strong>,<br>e acesse as instituições<br>e veja os materiais
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='../img/artigos.jpg' class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txt1">>> Certamente seguir as recomendações científicas, tudo passa fazer mais sentido.
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt4" title="Clique para expandir os tipos de Dependência Química">>> Seleção de Artigos
            Científicos</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;
              Os artigos científicos são uma produção textual com os principais resultados de uma pesquisa acadêmica. Em
              geral, são publicados em revistas científicas, que são veículos que exigem um formato mais direto e
              conciso. O conteúdo costuma ser mais crítico em relação às ideias discutidas.
              Cada artigo científico tem uma finalidade diferente porque propõe a resolução de problemas e questões
              distintas.

            </div><br>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>
                <div class="txt4" title="Clique para expandir sobre Alcoolismo">>> Álcool</div><br>
                <input type="checkbox" />
                <div id="col3Content" class="collapse">
                  <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;<p class="txt4">ALCOOLISMO | ARTIGO</p><br><br><strong>O alcoolismo é uma
                      doença crônica, com aspectos comportamentais e socioeconômicos, caracterizada pelo consumo
                      compulsivo de álcool. Veja artigo do dr. Drauzio sobre tolerância ao alcoolismo.</strong><br><br>Do
                    ponto de vista médico, o alcoolismo é uma doença crônica, com aspectos comportamentais e
                    socioeconômicos, caracterizada pelo consumo compulsivo de álcool, na qual o usuário se torna
                    progressivamente tolerante à intoxicação produzida pela droga e desenvolve sinais e sintomas de
                    abstinência, quando a mesma é retirada.<br><br><strong>Fatores genéticos</strong><br><br>Sem desprezar a
                    importância do ambiente no alcoolismo, há evidências claras de que alguns fatores genéticos aumentam
                    o risco de contrair a doença.
                    O alcoolismo tende a ocorrer com mais frequência em certas famílias, entre gêmeos idênticos
                    (univitelinos), e mesmo em filhos biológicos de pais alcoólicos adotados por famílias de pessoas que
                    não bebem.
                    Estudos mostram que adolescentes abstêmios, filhos de pais alcoólicos, têm mais resistência aos
                    efeitos do álcool do que jovens da mesma idade, cujos pais não abusam da droga.
                    Muitos desses filhos de alcoólicos se recusam a beber para não seguir o exemplo de casa. Quando
                    acompanhados por vários anos, porém, esses adolescentes apresentam maior probabilidade de abandonar
                    a abstinência e tornarem-se dependentes. Filhos biológicos de pais alcoólicos criados por famílias
                    adotivas têm mais dificuldade de abandonar a bebida do que alcoólicos que não têm história familiar
                    de abuso da droga.<br><br><strong>Intoxicação Aguda</strong><br><br>O álcool cruza, com liberdade, a barreira
                    protetora que separa o sangue do tecido cerebral. Poucos minutos depois de um drinque, sua
                    concentração no cérebro já está praticamente igual à da circulação.
                    Em pessoas que não costumam beber, níveis sanguíneos de 50mg/dl a 150 mg/dl são suficientes para
                    provocar sintomas. Esses, por sua vez, dependem diretamente da velocidade com a qual a droga é
                    consumida, e são mais comuns quando a concentração de álcool está aumentando no sangue do que quando
                    está caindo.
                    Os sintomas da intoxicação aguda são variados: euforia, perda das inibições sociais, comportamento
                    expansivo (muitas vezes inadequado ao ambiente) e emotividade exagerada. Há quem desenvolva
                    comportamento beligerante ou explosivamente agressivo.
                    Algumas pessoas não apresentam euforia, ao contrário, tornam-se sonolentas e entorpecidas, mesmo que
                    tenham bebido moderadamente. Segundo as estatísticas, essas quase nunca desenvolvem alcoolismo
                    crônico.
                    Com o aumento da concentração da droga na corrente sanguínea, a função do cerebelo começa a mostrar
                    sinais de deterioração, provocando desequilíbrio, alteração da capacidade cognitiva, dificuldade
                    crescente para a articulação da palavra, falta de coordenação motora, movimentos vagarosos ou
                    irregulares dos olhos, visão dupla, rubor facial e taquicardia. O pensamento fica desconexo e a
                    percepção da realidade se desorganiza. Quando a ingestão de álcool não é interrompida surgem:
                    letargia, diminuição da frequência das batidas do coração, queda da pressão arterial, depressão
                    respiratória e vômitos, que podem ser eventualmente aspirados e chegar aos pulmões provocando
                    pneumonia entre outros efeitos colaterais perigosos.
                    Em não alcoólicos, quando a concentração de álcool no sangue chega à faixa de 300mg/dl a 400 mg/dL
                    ocorre estupor e coma. Acima de 500 mg/dL, depressão respiratória, hipotensão e
                    morte.<br><br><strong>Metabolismo do álcool</strong><br><br>O metabolismo no fígado remove de 90% a 98% da droga
                    circulante. O resto é eliminado pelos rins, pulmões e pele.
                    Um adulto de 70 kg consegue metabolizar de 5 a 10 gramas de álcool por hora. Como um drinque contém,
                    em média, de 12 a 15 gramas, a droga acumula-se progressivamente no organismo, mesmo em quem bebe
                    apenas um drinque por hora.
                    O álcool que cai na circulação sofre um processo químico chamado oxidação que o decompõe em gás
                    carbônico (CO2) e água. Como nesse processo ocorre liberação de energia, os médicos recomendam
                    evitar bebidas alcoólicas aos que desejam emagrecer, uma vez que cada grama de álcool ingerido
                    produz 7,1 kcal, valor expressivo diante das 8kcal por grama de gordura e das 4 kcal por grama de
                    açúcar ou proteína.
                    Usuários crônicos de álcool costumam nele obter 50% das calorias necessárias para o metabolismo. Por
                    isso, frequentemente desenvolvem deficiências nutricionais de proteína e vitaminas do complexo
                    B.<br><br><strong>Tolerância e alcoolismo crônico</strong><br><br>A resistência aos efeitos colaterais do álcool
                    está diretamente associada ao desenvolvimento da tolerância e ao alcoolismo.
                    Horas depois da ingestão exagerada de álcool, embora a concentração da droga circulante ainda esteja
                    muito alta, a bebedeira pode passar. Esse fenômeno é conhecido como tolerância aguda.
                    O tipo agudo é diferente da tolerância crônica do bebedor contumaz, que lhe permite manter aparência
                    de sobriedade mesmo depois de ingerir quantidades elevadas da droga. Doses de álcool entre 400 mg/dl
                    e 500 mg/dl, que muitas vezes levam o bebedor ocasional ao coma ou à morte, podem ser suportadas com
                    sintomas mínimos pelos usuários crônicos.
                    Diversos estudos demonstraram que as pessoas capazes de resistir ao efeito embriagante do álcool,
                    estatisticamente, apresentam maior tendência a tornarem-se dependentes.<br><br><strong>Síndrome do
                      blackout e da abstinência</strong><br><br>Pode ocorrer em bebedores esporádicos ou crônicos e
                    caracteriza-se por amnésia que pode durar horas, sem perda de consciência da realidade durante a
                    crise. O blackout (ou apagamento) acontece porque o álcool interfere nos circuitos cerebrais
                    encarregados de arquivar acontecimentos recentes. O quadro, de certa forma, lembra o perfil de
                    memória das pessoas idosas, capazes de contar com detalhes histórias antigas, mas que não conseguem
                    recordar o cardápio do almoço.
                    O álcool é uma droga depressora do sistema nervoso central. Para contrabalançar esse efeito, o
                    usuário crônico aumenta a atividade de certos circuitos de neurônios que se opõem à ação depressiva.
                    Quando a droga é suspensa abruptamente, depois de longo período de uso, esses circuitos
                    estimulatórios não encontram mais a ação depressora para equilibrá-los e surge, então, a síndrome de
                    hiperexcitabilidade característica da abstinência.
                    Seus sintomas mais frequentes são: tremores, distúrbios de percepção, convulsões e delirium
                    tremens.<br><br><strong>Reconhecimento da dependência e reabilitação</strong><br><br>Uma das características
                    mais importantes do alcoolismo é a negação de sua existência por parte do usuário. Raros são aqueles
                    que reconhecem o uso abusivo de bebidas, passo considerado essencial para livrarem-se da
                    dependência. Desintoxicação – Geralmente realizada por alguns dias sob supervisão médica, permite
                    combater os efeitos agudos da retirada do álcool. Dados os altíssimos índices de recaídas, no
                    entanto, o alcoolismo não é doença a ser tratada exclusivamente no âmbito da medicina convencional;
                    Reabilitação – Alcoólicos anônimos – Depois de controlados os sintomas agudos da crise de
                    abstinência, os pacientes devem ser encaminhados para programas de reabilitação, cujo objetivo é
                    ajudá-los a viver sem álcool na circulação sanguínea.
                    Para que o tratamento tenha sucesso é fundamental a participação dos familiares e amigos próximos,
                    como declararam, nas entrevistas gravadas para o Canal Universitário, o jornalista Ricardo Vespucci
                    e o médico Emanuel Vespucci, autores dos livros “O revólver que sempre dispara” e “O livro das
                    respostas: Alcoolismo” cuja leitura recomendamos a todos os interessados no tema. Dessas entrevistas
                    participaram também um representante dos Alcoólicos Anônimos e duas mulheres da Al-Anon, associação
                    dedicada a dar apoio e orientação aos familiares dos dependentes do álcool. Esses depoimentos foram
                    fundamentais para entender a doença do alcoolismo e suas consequências.<br><br>

                    <p class="txtRef">Drauzio Varella é médico cancerologista e escritor. Foi um dos pioneiros no tratamento da aids no
                    Brasil. Entre seus livros de maior sucesso estão Estação Carandiru, Por um Fio e O Médico Doente.</p>
                  </div><br>
                  <div>
                    <button class="button" onclick="button">ler Artigos</button>
                  </div>
                </div>
                <br>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label>
                    <div class="txt4" title="Clique para expandir sobre a Maconha">>> Maconha</div><br>
                    <input type="checkbox" />
                    <div id="col3Content" class="collapse">
                      <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;O uso crônico de maconha está associado a
                        problemas
                        respiratórios, já que a
                        fumaça é muito irritante e
                        seu
                        teor de alcatrão é muito alto, além de conter benzopireno, substância cancerígena. As
                        conseqüências do
                        uso
                        da maconha são semelhantes aos do tabaco: hipertensão, asma, bronquite, cânceres, doenças
                        cardíacas e
                        doenças crônicas obstrutivas aéreas. No caso de pessoas com transtornos psicóticos
                        (pré-existentes) pode
                        ocorrer um agravamento do quadro, como a esquizofrenia, exigindo assim mudanças no tratamento da
                        doença
                        psiquiátrica. O uso regular acarreta problemas cognitivos como: comprometimento do rendimento
                        intelectual,
                        perda de memória e na habilidade de resolver problemas. A abstinência é caracterizada por:
                        ansiedade,
                        insônia, perda de apetite, tremor das mãos, sudorese, reflexos aumentados, bocejos e humor
                        deprimido.
                      </div>
                    </div>
                </div>
              </label>
              <br>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>
                  <div class="txt4" title="Clique para expandir sobre a Cocaína">>> Cocaína</div><br>
                  <input type="checkbox" />
                  <div id="col3Content" class="collapse">
                    <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;A cocaína é uma substância psico-estimulante
                      que é
                      consumida de diferentes formas: aspirada, via
                      intravenosa ou fumada (crack). O consumo da cocaína em grande parte dos usuários aumenta
                      progressivamente,
                      sendo necessário consumir maiores quantidades da substância para atingir o efeito desejado. No
                      Brasil, a
                      cocaína é a substância mais utilizada pelos usuários de drogas injetáveis. Muitas dessas pessoas
                      compartilham agulhas e seringas e expõem-se ao contágio de várias doenças como hepatite e Aids.
                    </div>
                  </div>
              </div>
        </label>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>
            <div class="txt4" title="Clique para expandir sobre a Crack">>> Crack</div><br>
            <input type="checkbox" />
            <div id="col3Content" class="collapse">
              <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;O crack é resultante da mistura de cocaína,
                bicarbonato de sódio
                ou amônia e água destilada, resultando
                em grãos que são fumados em cachimbos. O consumo do crack é maior que o da cocaína, pois é mais barato e
                seus efeitos duram menos. Além disso, tem terrível ação sobre o sistema nervoso central e cardíaco.
              </div>
            </div>
        </div>
        </label>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>
            <div class="txt4" title="Clique para expandir sobre a Anfetaminas">>> Anfetaminas</div><br>
            <input type="checkbox" />
            <div id="col3Content" class="collapse">
              <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;São drogas sintéticas de efeito estimulante do
                sistema nervoso
                central e só podem ser comercializadas
                sob prescrição médica. Um tipo de anfetamina ilícita não encontrada em farmácias é a droga conhecida por
                êxtase, que provoca dependência fazendo com que o usuário tenha de consumir maiores quantidades de
                comprimidos para obter os mesmos efeitos. O uso indevido e prolongado pode provocar alterações
                psíquicas, lesões cerebrais e aumento do risco de convulsões e overdose.
              </div>
            </div>
        </div>
        </label>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label>
            <div class="txt4" title="Clique para expandir sobre a Calmantes e Sedativos">>> Calmantes e Sedativos</div>
            <br>
            <input type="checkbox" />
            <div id="col3Content" class="collapse">
              <div class="txtBlocoJustify">&nbsp;&nbsp;&nbsp;&nbsp;Os medicamentos capazes de diminuir a atividade do
                cérebro são
                chamados de sedativos, já os que são
                capazes de diminuir a dor são conhecidos como analgésicos. Os hipnóticos ou soníferos são os sedativos
                capazes de afastar a insônia, já os ansiolíticos têm o poder de atuar sobre estados exagerados de
                ansiedade.
              </div>
            </div>
        </div>
        </label>
      </div>
      </div>
    </article>
  </main>
  <div class="separador"></div>
  <div id="footer"></div>

  <!-- Modal a ideia e serializar os JSON, AQUI E EXIBI-LOS NA TELA -->

  <div id="dv-modal-preencha" class="modal">
    <div class="modal-content">
      <div class="modal-header" class="txtBlocoJustify">
        <p class="txtModal">Primeiro preencha o formulário!</p>
      </div>
      <div class="modal-body">
        <p class="txtBlocoModal">Desse modo a equipe do Cura Vício entrará em contato, obrigado!</p>
      </div>
      <div class="modal-footer">
        <button class="button" onClick="closeModal('dv-modal')">Fechar</button>
      </div>
    </div>
  </div>

</body>

</html>